@charset "UTF-8";

* {
	box-sizing: border-box;
}

body {
	background-image: url("../image/bg02.jpg");
	display: flex;
	min-height: 100vh;
	flex-direction: row;
	margin: 0;
	padding: 40px;
}

.hotelcol-1 {
	flex: 1;
	position: fixed;
	color: #EBEBEB;
}

.hotelcol-2 {
	display: flex;
	flex-direction: column;
	flex: 5;
}

.hotelcontent {
	display: flex;
	flex-direction: row;
}

.hotelcontent>article {
	flex: 4;
	min-height: 75vh;
}

header {
	height: 20vh;
	margin-left: 15.5em;
}

footer {
	height: 20vh;
}

footer, article, nav {
	padding: 1em;
}

.mainSpan .card {
	background-color: #4E5D6C;
	float: left;
	width: 18rem;
	height: 400px;
	border-radius: 5px;
	margin: 10px;
	color: #EBEBEB;
}

article {
	background-color: #2B3E50;
	min-height: 36rem;
	margin-left: 13rem;
	margin-right: 13rem;
}

/* common */
.clfix:after {
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}

.clfix {
	display: inline-block;
}

.clfix {
	display: block;
}

* html .clfix {
	height: 1%;
} /* Hides from IE-mac */
.clfix {
	zoom: 1;
} /*for IE 5.5-7*/